body {
    background: #d1db3d;
    margin: 0;
    padding: 0;

}


.AreaPrincipal {
    
    margin: 20px;
    padding: 200px 80px;
    background: rgba(240, 223, 130, 0.933);
    height: 40vh;
    border-radius: 20px;
    position: relative;
    max-width: 200px 200px;
    color: #b19f00;
    
}

.LinkCinza {
    text-decoration: none;
}
